.integrants{
display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: var(--text);
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 32px;
}

.integrants h2 {
  font-size: 2.5rem;
  font-weight: bold;
}


.carrossel {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--text);
  font-size: 1.2rem;
  max-width: 600px;
}

.carrossel p {
  font-size: 1.2rem;
  max-width: 600px;
}

.card {
  display: flex;
  align-items: center;
  background:linear-gradient(to right, #000000, #000000, #242424);;
  padding: 0;
  border-radius: 8px;
  
}

.card img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.info h2 {
  margin: 0 0 8px;
}

button {
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    min-width: 360px;
  }
}
