.integrants{
display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: var(--text);
  margin: 0 auto;
  padding: 40px 20px;
  gap: 32px;
  
}

.integrants h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.integrants h3 {
  font-size: 1.5rem;
  font-weight: bold;
}


.carrossel {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--text);
  font-size: 1.2rem;
  max-width: 100%
}

.carrossel p {
  font-size: 1.2rem;
  max-width: 600px;
  
}

.card {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #000, #1b4b72);
  padding: 0 10px 0 0;
  border-radius: 8px;
  
}

.card > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.info h2 {
  margin: 0 0 8px;
  width: 100%;
  height: 100%;
}

button {
  font-size: 20px;
  cursor: pointer;
  
}
.icon {
 width: 40px;
  height: 40px;
  margin-left: 6px;
  vertical-align: middle;
  display: flex;
  cursor: pointer;
}

@media (max-width: 768px) {
  
.carrossel {
    flex-direction: row;
    gap: 4px;
  }


  .card {
    flex-direction: column;
    padding: 4px 4px 8px 4px;
  }

  .card > img {
    width: 100%;
    height: 280px;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .info {
    
    width: 100%;
    text-align: center;
  }

  .info p {
    font-size: 18px;
    font-weight: 400;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  button {
    font-size: 18px;
  }
}
