.button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  text-decoration: none;
  color:var(--header)
}

.button:hover {
  background: linear-gradient(to bottom, #000, #1b4b72);
  color: var(--logo);
}
