.button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.button:hover {
  background: var(--background);
  color: var(--text);
}
