.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: var(--text);
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 32px;
}

.about h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.div {
  display: flex;
  align-items: center;
  gap: 32px;
  line-height: 1.6;
}

.img {
  width: 350px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.div p {
  font-size: 1.2rem;
  max-width: 600px;
}


@media (max-width: 768px) {
  .div {
    flex-direction: column;
    text-align: center;
  }

  .img {
    width: 100%;
    max-width: 350px;
  }
}
