.header {
  background-color: var(--header);
  color: var(--text);
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin-bottom: 10px;
}
.ul li a {
  text-decoration: none;
  color: var(--text);
  position: relative;
  padding-bottom: 3px;
}

.ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--hover);
  transition: width 0.3s ease;
}

.ul li a:hover::after {
  width: 100%;
}

.ul li a:hover {
  color: var(--text);
}

.img {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ul {
    display: none; /* esconde menu desktop */
  }
}
