.hamburguer {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.hamburguer span {
  width: 30px;
  height: 3px;
  background: var(--text);
  transition: 0.3s;
}

/* animação quando aberto */
.active:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.active:nth-child(2) {
  opacity: 0;
}
.active:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.mobileMenu {
  display: none;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
}

.mobileMenu li a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
}

/* Quando o menu abre */
.open {
  display: flex;
}

@media (max-width: 768px) {
  .ul {
    display: none; /* esconde menu desktop */
  }

  .hamburguer {
    display: flex; /* mostra hamburguer */
  }
}
