.footer {
  width: 100%;
  background: linear-gradient(to bottom, #000, #1b4b72);
  color: #fff;
  padding: 0 0 32px 0;
  margin-top: 64px;
  border-top: 1px solid rgba(255,255,255,0.2);
}


.hr {
  border: none;
  height: 1px;
  background-color: var(--text);
  opacity: 0.4;
  margin: 0 0 24px 0;
}
.contain {
    padding: 0 16px;
}
.ul{
    list-style: none;
    padding: 0;
    margin: 0 0 16px;
    display: flex;
    justify-content: center;

}


.ul li{
    cursor: pointer;
}


.img {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  padding: 0;
  margin: 0 auto;
  display: flex;

}
.contato {
    display: flex;
    flex-direction: column;
}

.logos {
    width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 16px;

}



.container {
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container a {
  color: var(--text);
  margin-left: 16px;
  text-decoration: none;
}

.container a:hover {
  color: var(--logo);
}

.color {
    color: var(--logo);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 16px;
  }
}
