.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text);
  display:flex ;
  align-items: center;
  justify-content: center;
  margin: 32px 0 32px;
}
.container {
  margin-bottom: 52px;;
}