:root {
  /* Neutral colors */
  --background: #0e0e10;
  --header: #000000;
  --neutral-surface: #2a2c34;
  --neutral-header: #33353f;
  --text: #f5f5f5;
  --hover: red;

  /* Primary colors */
  --primary-highlight: #7693ff;
}

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
